.main-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

a{
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:hover{
  font-size: 18px;
}

.sidenav-container{
  flex: 1;
}

.w-10p{
  width: 15%;
}

.ml-15{
  margin-left: 15px;
}

.menu-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.mat-icon {
  color: white;  /* Ajuste a cor dos ícones para branco */
}


